/* Styles for the restaurant site */

body {
  background-color: tan;
}
h1 {
  text-align:center;
  font-family: "Comic Sans MS", cursive, sans-serif;}
h2 {text-align:center;
  font-family: "Comic Sans MS", cursive, sans-serif;}
div.navigation {
  margin:auto;
  text-align:center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
p.bodytext {
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin: auto;
  text-align:center;
  border: 3px solid brown;
  padding:25px;
  width: 400px;
  height: 200=0px;}
p.footer {
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align:center;
  margin:auto;
}
img {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 250px;
    border: 3px solid brown;
}
